= form_for(@palabra) do |f|
  = render 'error_messages', target: @palabra

  = f.label :palabra 
  = f.text_field :palabra

  = f.label :lugar
  = f.text_field :lugar
 
  %br 
  %p
    %input#significados{type: 'hidden', name:'significados', style: 'width:300px', value: "#{@palabra.significados_id_comma }", data: { value: @palabra.significados_json } }

  .actions
    = f.submit 'Guardar', class:'btn btn-primary'


#variantes
