
%p
  %b= @palabra.palabra
  %i= @palabra.lugar 
%ul
  - @palabra.traducciones.each do |p|
    %li= p.significado.palabra

.btn-group
  = link_to 'Editar', edit_palabra_path(@palabra), class: 'btn'
  = link_to 'Listado', palabras_path, class: 'btn'
